# Frontend Environment
VITE_API_URL=http://localhost:3000/api

# Backend Environment
PORT=3000
DATABASE_URL=postgresql://postgres:ConstructionTracker2026@db.qcklavehtipxzvlrqjnu.supabase.co:5432/postgres
JWT_SECRET=1Dx+szODPPU7BlgbtuNfSc5iNMHEaSZ4ZkLzlH78jXvRb4VVVBw4iENm/HcHr07cML5iPM9Q2m4kRWRSdXPlFg==
SUPABASE_URL=https://qcklavehtipxzvlrqjnu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFja2xhdmVodGlweHp2bHJxam51Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4Njc2ODEsImV4cCI6MjA4NzQ0MzY4MX0.WgJqCNSepxoACbU5TWahwTM1xqVRCvAAJjdIhapu0hQ
